PORT = SERVER PORT

TYPEORM_TYPE = DATABASE_TYPE
TYPEORM_HOST = SERVER_IP
TYPEORM_USERNAME = DATABASE_ID
TYPEORM_PASSWORD = DATABASE_PASSWORD
TYPEORMD_DATABASE = DATABASE NAME
TYPEORM_PORT = DATABASE PORT

DATABASE_URL = "rdbms://username:password@127.0.0.1:3306/database_name"